<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <h1>GRC Diner</h1>
            <h2>Breakfast Menu</h2>
            <ul>
                <li>Pancakes</li>
                <li>Waffles</li>
                <li>Eggs with hashbrowns</li>
            </ul>
            <a type="button" href="order1">Place an Order</a>
        </div>
    </body>
</html>