<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="stylesheet" href="./styles/home.css" />
</head>

<body>
<div class="wrapper">
    <!-- job-post class since I'm imaging there would be many more posts like this especially if it's a job posting thing :D -->
    <article class="job-post">
        <header>
            <div>
                <p>AppCompany LLC</p>
                <h1>Software Development Internship</h1>
                <p>Seattle Washington, Paid, 12 weeks</p>
            </div>

            <form action="#" method="post">
                <input type="submit" value="Apply Now" />
            </form>
        </header>

        <section>
            <aside>
                <h1>About the Internship</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Saepe odit magni velit aliquam eius, porro
                    rerum assumenda ratione quia labore doloribus ab
                    deleniti minima reiciendis quaerat ipsa quo, culpa
                    cumque!
                </p>
                <h1>More About Us</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Voluptatum unde alias maiores ipsam distinctio
                    obcaecati expedita nobis illo voluptate temporibus
                    ratione rerum repellendus molestias aspernatur, quas
                    magnam at possimus commodi? Amet quaerat tenetur
                    minus voluptates doloremque rerum nemo sed iure,
                    error magni nostrum sequi? Ab dignissimos eaque
                    dolores, adipisci ducimus saepe earum ipsa
                    accusantium at voluptas inventore ipsam odit rerum?
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Voluptatum unde alias maiores ipsam distinctio
                    obcaecati expedita nobis illo voluptate temporibus
                    ratione rerum repellendus molestias aspernatur, quas
                    magnam at possimus commodi? Amet quaerat tenetur
                    minus voluptates doloremque rerum nemo sed iure,
                    error magni nostrum sequi? Ab dignissimos eaque
                    dolores, adipisci ducimus saepe earum ipsa
                    accusantium at voluptas inventore ipsam odit rerum?
                </p>

                <h1>Meet Our Team</h1>
                <blockquote>
                    <div>
                        <q>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Odit consectetur ut ea
                            vitae alias est voluptates error vero ad
                            debitis perferendis, illo sint ipsum ratione
                            vel laboriosam porro laudantium dicta.
                        </q>
                        <span>- Someone's name here</span>
                    </div>

                    <div>
                        <q>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Odit consectetur ut ea
                            vitae alias est voluptates error vero ad
                            debitis perferendis, illo sint ipsum ratione
                            vel laboriosam porro laudantium dicta.
                        </q>
                        <span>- Someone's name here</span>
                    </div>

                    <div>
                        <q>
                            Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Odit consectetur ut ea
                            vitae alias est voluptates error vero ad
                            debitis perferendis, illo sint ipsum ratione
                            vel laboriosam porro laudantium dicta.
                        </q>
                        <span>- Someone's name here</span>
                    </div>
                </blockquote>

                <form action="#" method="post">
                    <input type="submit" value="Apply Now" />
                </form>
            </aside>

            <img src="./images/homeImg.png" alt="Chairs" />
        </section>
    </article>
</div>
</body>
</html>
