<include href="views/header.html">


    <body class="f-col">
        <nav>
            <div>
                <a href="./home">AppCompany LLC</a>
                <a href="./home">Software Development Internship</a>
                <p>Seattle Washington, Paid, 12 weeks</p>
            </div>
        </nav>

        <div class="wrapper">
            <h1>Experience</h1>

            <form class="oneCol" action="#" method="post">
                <div>
                    <main>
                        <div class="checkListContainer">
                            <label>Software Development Jobs</label>
                            <div class="checkList">
                                <repeat group="{{ @softwareJobs }}" key="{{ @id }}" value="{{ @softwareJob }}">
                                    <input
                                            type="checkbox"
                                            id="{{ @id }}"
                                            name="softwareJobs[]"
                                            value="{{ @softwareJob }}"
                                    />
                                    <label for="{{ @id }}">{{ @softwareJob }}</label>
                                </repeat>
                            </div>
                        </div>

                        <div class="checkListContainer">
                            <label>Industry Verticals</label>
                            <div class="checkList">
                                <repeat group="{{ @industryVerticals }}" key="{{ @id1 }}" value="{{ @industryVertical }}">
                                    <input
                                            type="checkbox"
                                            id="{{ @id1 }}"
                                            name="industryVerticals[]"
                                            value="{{ @industryVertical }}"
                                    />
                                    <label for="{{ @id1 }}">{{ @industryVertical }}</label>
                                </repeat>
                            </div>
                        </div>

                        <div id="list-submit">
                            <input type="submit" value="Next >" />
                        </div>
                    </main>
                </div>
            </form>
        </div>
    </body>
</html>