<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="stylesheet" href="./styles/form-apply.css">
</head>


    <body class="f-col">
        <nav>
            <div>
                <a href="./home">AppCompany LLC</a>
                <a href="./home">Software Development Internship</a>
                <p>Seattle Washington, Paid, 12 weeks</p>
            </div>
        </nav>

        <div class="wrapper">
            <h1>Experience</h1>

            <form class="oneCol" action="#" method="post">
                <div>
                    <main>
                        <div class="checkListContainer">
                            <label>Software Development Jobs</label>
                            <div class="checkList">
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="JavaScript"
                                />
                                <label>Javascript</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="PHP"
                                />
                                <label>PHP</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="Java"
                                />
                                <label>Java</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="Python"
                                />
                                <label>Python</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="HTML"
                                />
                                <label>HTML</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="CSS"
                                />
                                <label>CSS</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="ReactJS"
                                />
                                <label>ReactJS</label>
                                <input
                                        type="checkbox"
                                        name="softwareJobs[]"
                                        value="NodeJs"
                                />
                                <label>NodeJs</label>
                            </div>
                        </div>

                        <div class="checkListContainer">
                            <label>Industry Verticals</label>
                            <div class="checkList">
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="SaaS"
                                />
                                <label>SaaS</label>
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="Health tech"
                                />
                                <label>Health tech</label>
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="Ag tech"
                                />
                                <label>Ag tech</label>
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="HR tech"
                                />
                                <label>HR tech</label>
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="Industrial tech"
                                />
                                <label>Industrial tech</label>
                                <input
                                        type="checkbox"
                                        name="industryVerticals[]"
                                        value="Cybersecurity"
                                />
                                <label>Cybersecurity</label>
                            </div>
                        </div>

                        <div id="list-submit">
                            <input type="submit" value="Next >" />
                        </div>
                    </main>
                </div>
            </form>
        </div>
    </body>
</html>